<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <title>Weather Map App</title>
      <!-- Fonts -->		<!-- USE: font-family: 'Special Elite', cursive; -->
   <!-- <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'> -->

      <!-- LIBRARIES -->
         <!-- jQuery -->
      <script type="text/javascript" src="/vender/jquery/dist/jquery.min.js"></script>
         <!-- Bootstrap -->
      <link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">
      <script type="text/javascript" src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>

      <!-- API -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbAo5oxljVdlKhWTVW1mPxwBrM1-OrR5Y&callback=initMap" async defer></script>

      <!-- LOCAL -->
         <!-- JS -->
      <script type="text/javascript" src="/static/javascript/app.js"></script>
         <!-- CSS -->
      <link rel="stylesheet" href="/static/stylesheets/main.css">

   </head>
   <body>
      <div class="container">
         <header>
            <div class="page-header">
               <h1>Weather App</h1>
            </div>
         </header>

         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <div id="sanity">
                  <h2>Hello World</h2>
               </div>
            </div>
         </div>

         <div>
            <a href="/test"><button>Test Route</button></a>
         </div>


         <hr>

         <div id="map"></div>




      </div>

   </body>
</html>
